<h1>Meu livros cadastrados</h1>
<div class="center">
    <a href="/"><button>Adicionar novo livro</button></a>
</div>


<table border="1">
    <thead>
        <tr>
            <td>id</td>
            <td>Titulo</td>
            <td>Páginas</td>
        </tr>
    </thead>
    <tbody>
        {{#each books}}
        <tr>
            <td>{{this.id}}</td>
            <td><a href="/book/{{this.id}}">{{this.title}}</a></td>
            <td>{{this.pages}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
