<h1>Usuários Cadastrados</h1>

<div class="container-name">
    {{#each users}}
      <div class="item">
        <h2>{{this.name}}</h2>
        <p>{{this.occupation}}</p>

        <div class="action">
           <a href="/users/{{this.id}}" class="details-btn">Detalhes</a>
           <form action="/users/delete/{{this.id}}" method="POST">
              <input type="submit" value="Excluir" class="delete-btn">
           </form>
        </div>
      </div>
    {{/each}}
</div>
