<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Página Principal WEB</title>
</head>
<body>
    <h1>Bem vindo ao Meu Site</h1>
    <p>
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur dignissimos nobis illum, ex aspernatur omnis eligendi earum 
       laudantium at voluptatem nam, maxime in? Non ratione iste nisi maxime ipsum debitis!
    </p>
</body>
</html>